/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.tiers-container:hover{
    transform: scale(1.04);
}

.button:hover{
    box-shadow: 5px 3px 5px 2px rgb(104, 104, 104);
    transition: 0.4s;
    transform: scale(1.05);
}

.header-bg{
    background-color: ;
}


form{
    
    background-color: rgba(178, 178, 178, 0.213)
}
.form-input{
    border-bottom: 2px solid #FFD700;
    
}

.form-input:focus{
    border-bottom: 2px solid blue;

    
}