/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    color: wh;
    @apply bg-matte
}



.progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
  }